/vendor/*

/resources/assets/vendor
/resources/lang/vendor
/resources/views/vendor

/database/migrations
/database/seeds

composer.phar

.keys/deploy_key.pem
.keys/id_rsa
.keys/id_rsa.pub

.DS_Store


/.idea
/_ide_helper.php

/config/vendor
/public/vendor


/node_modules
/bower_modules


.env
